.menuInput{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dee2e6;
}
.model-content{
    border:0px;
}
.danger{
    color: red;
    padding: 10px;
}
.selector{
    word-wrap: normal;
    /* border: none; */
    text-align: center;
    padding: 10px;
    margin: 10px;
}