.queHeader{
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;

}
.queSection{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
}
.row{
    margin: 0px;
    padding: 0px;
}
.queTitle{
    padding: 20px 10px;
    font-size: 15px;
}