.menucomponent{
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 18px;
}


.quecomponent{
    padding: 0px;
    padding-right:30px;
    margin:0px;
    font-size: 18px;
    box-sizing: border-box;
}
.parent-class{
    text-align: center;
    margin: auto;
    width: 50%;
}

.rmpm{
    padding:0;
    margin:0;
}